* {margin: 0;padding: 0;box-sizing: border-box;font-family: Arial, Helvetica, sans-serif; }

body html {width: 100%;height: 100%;}
#main{width: 100%; overflow: hidden;}
.center-text{text-align: center;}

.page1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background32.webp);
}
.page1 .navbar {width: 100%;height: 100px;background-color: transparent;color: #fff;display:
    flex;justify-content: space-around;align-items: center;padding: 20px 0px; position: fixed;z-index: 999;
}
.navpart1 {
    display: flex;
    align-items: center;
    gap: 70px;
}
.navpart1 h1 {
    font-size: 2vw;
    font-weight: 700;
    cursor: pointer;
}

.navpart1 h4 {
    font-size: 1vw;
    cursor: pointer;
} 

.navpart2 button{
    padding: 8px 26px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none !important;
    font-size: 18px;
    border-radius: 6px;
    color: #fff;
}
.navpart2 button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;

}
.hero .hed {
    width: 100%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero .hed span {
    font-size: 10vw;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-image: url(../images/background21.webp);
    background-size: 1920px 600px;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    /* animation: scroll 14s infinite linear; */
    pointer-events: none;
}

@keyframes scroll{
    0% {
        transform: translatey(50px);
    }

    100% {
        transform: translatey(600px);
    }
}


.page2 {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #fff;
    position: relative;
}

.album {
    width: 1180px;
    height: 100%;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%,0%);
}

.logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:center;
    gap: 100px;
    align-items: center;

}
.logo  p {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #555;
}
.logo  p i {
    font-size: 40px;
    margin-right: 10px;
    color: #000;
}
.line {
    width: 50%;
    height: 150px;
    margin-top: 40px;
    border-right: 1px solid #000;
}
.album .parra {
    font-size: 25px;
    color: #555;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
.album h1 {
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.card-1 {
    transform: rotatey(15deg);
    cursor: pointer;
}
.img-box{
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotatey(15deg);
}
.text-box {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #fff;
    text-align: left;

}

.img-box img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;

}

.paragraph{
    text-align: center;
    width: 90%;
    height: 100%;
    margin: auto;
    font-weight: 700;
    margin-top: 20px;
    padding: 0px 140px;
    font-size: 27px;
}
.page3{
    width: 100%;
    height: 100%;
}

.button{
    text-transform: capitalize;
    color: rgb(250, 87, 115) !important;
    cursor: pointer;
    font-weight: 700;
}
.button:hover{
    color:rgb(240, 120, 140) !important;
}

.story-box1 h1{
    font-size: 5vw;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.story-box1 p{
    font-size: 1.2vw;
    color: #fff;
    line-height: 1.5;
    padding: 30px 0px;
}

.our-story {
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: flex;
    margin-top: 10vh;
    margin-bottom: 8vh;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.story-box1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 70px;
}
.story-box1 h1{
    text-align: left !important;
}
.story-box2{
    width: 60%;
    height: 100%;
}
.story-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page3 .parra {
    font-size: 25px;
    color: #555;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}
.page3 h1 {
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.banner {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
    width: 1180px;
    height: 600px;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.banner i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    cursor: pointer;
}
.banner i:hover{
    font-size: 2vw;
    background-color: rgb(248, 63, 63);
    color: #000;
}
.page4{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.backg-img{
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
}
.backg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}  
.contant {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);

}   
.contant .line {
    width: 50%;
    height: 150px;
    margin-top: 40px;
    border-right: 2px solid #fff;
}
.contant .parra {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}
.contant h1 {
    font-size: 5vw;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}
.backg-img .card-img {
    width: 500px;
    height: 600px;
    margin: auto;
    background-image: url(../images/026.webp);
    position: absolute;
    background-size: cover;
    background-position: center;
    padding: 120px 80px;
}
.backg-img .card-img  img {
    width: 100%;
    height: 225px;

}
.backg-img .card-img p {
    font-size: 3vw;
    font-weight: 700;
    color: #fff;
    padding-top: 20px;
}
.backg-img .card-img small{
    font-size: 1.5vw;
}

.page5{
    width: 100%;
    height: 100%;
    padding: 40px 0px;
}
.page5 h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}
.tracklist {
    width: 1000px;
    height: 600px;
    margin: auto;
    border-top:1.5px solid rgb(56, 56, 56) ;
    border-bottom: 1.5px solid rgb(56, 56, 56);
    padding: 25px 10px;
}
.hite {
    line-height: 3;
}
.hite p {
    font-size: 1.3vw;
    font-weight: 500;
}
.hite #play {
    width: 35px;
    height: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
   margin-top: 20px;

}
.hite #play:hover{
    background-color: rgb(255, 13, 13);
    color: #000;
    font-size: 20px;
}

.hite small{
    font-size: 1.3vw;
    color: #555;
} 

.page6 {
    width: 100%;
    height: 100%;

}

.tour {
    padding: 30px 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/background21.webp);
    color: #fff;


}

.tour .line{
    border-right: 2px solid #fff;
}
.tour h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 5vw;
}
.tour .parra {
     font-size: 1.3vw;
     font-weight: 700;
     text-transform: capitalize;
}
.Upcoming-tour {
    width: 1185px;
    margin: auto;
}

.underline {
    margin-top: 50px;
    border-bottom: 2px solid #fff;
}
.underline p {
    font-size: 20px;
    cursor: pointer;
}
.underline p::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    top: 80%;
    left: 45%;
}

.videotorn{
    margin-top: 30px;
    padding:50px 250px;

}
.align-center{
    display: flex;
    justify-content:start;
    align-items: center;
}   
.videotorn .text{
    width: 100%;
    height: 100%;
}

.videotorn img {
    padding: 0px 30px;
    width: 100%;
    height: 100%;
}
.news {
    width: 100%;
    height: 100%;
}
 .parra{
    font-size: 1.3vw;
    font-weight: 700;
    text-transform: capitalize;
}

.hedding{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5vw;
} 
.news-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 70px;
}
.card1 {
    width: 350px;
    height: 500px;
}
.card1 img{
    width: 100%;
    height: 250px;
}
.card1 h2{
    font-size: 30px;
    font-weight: 700;
    margin-top:10px;
    color: #000;
}
.card1 .card-button{
    font-size: 20px;
    font-weight: 600;
    color: #555;
    cursor: pointer;
}
.card1 .card-button:hover{
    color: rgb(255, 36, 36);
}

.socialmedia{
    width: 100%;
    height: 700px;
    background-image:url(../images/background40.webp) ;
    background-size: cover;
    background-position: center;
}
.media{
    width: 100%;
    height: 100vh;
    border-right: 1px solid #fff;
    display: flex;
    justify-content:start;
    align-items: center;
    position: relative;
}
.text-hover {
    width: 100%;
    height: 70px;
    overflow: hidden;
    padding: 30px;
    color: #fff;
    top: 80%;
    position: absolute;

}

.text-hover:hover{
    width: 100%;
    height: 100%;
    top: 50%;
}
.text-hover h2{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: capitalize;

}
.text-hover p {
    font-size: 20px;
    color: rgb(231, 231, 231);
}
.text-hover .subscribe {
    padding: 21px 45px;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.text-hover .subscribe:hover{
    background-color: #fff;
    color: #000;
}

.contacts {
    width: 100%;
    height: 100%;

}
.fildset{
    width: 1300px;
    height: 400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    border: 2px solid #000;
    padding: 60px;
}
.fildset h2{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}
.fildset p{
    font-size: 20px;
    color: #555;
    width: 80%;
}
.inputtype {
    display:inline-block;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 10px;
}
.inputtype input{
    width: 50%;
    padding: 20px 10px;
    border: 2.5px solid #131313;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
}
#massage {
    width: 100%;
    padding: 20px 0px 90px 10px;
    border: 2px solid #000;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.submit{
    padding: 20px 55px;
    background-color: rgb(255, 30, 30);;
    color: #fff;
    border-radius: 30px;
    border: 1px solid rgb(255, 30, 30);
    outline: none !important;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}
.submit:hover{
    background-color:rgb(255, 0, 0) ;
}

#fcenter{
    background-color: rgb(105, 105, 105);
    width: 100%;
    height: 400px;
    color: #fff;
    padding: 100px 0px;
}
footer h3 {
    font-size: 28px;
    font-weight: 700;
    color: aliceblue;
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer-icon i {
    padding: 30px 0px;
    font-size: 30px;
    display:inline-block;
    gap: 20px;
}
footer .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}
footer h5 {
    font-size: 19px;
    color: #dfdede;
}